(common) {
  gzip

  # Strict security headers
  header / {
    # Enable HSTS. https://mdn.io/HSTS
    Strict-Transport-Security "max-age=15768000"
    # Enable stricter XSS protection. https://mdn.io/X-XSS-Protection
    X-XSS-Protection "1; mode=block"
    # Prevent MIME-sniffing. https://mdn.io/X-Content-Type-Options
    X-Content-Type-Options "nosniff"
    # Prevent clickjacking. https://mdn.io/X-Frame-Options
    X-Frame-Options "DENY"
  }

  log stdout
}

hyeon.me {
  import common
  root /srv/hyeon.me/public
  errors {
    404 404.html
  }
  header /static- {
    Cache-Control "public, max-age=315360000"
  }
}

kuma.hyeon.me {
  import common
  root /srv/kuma.hyeon.me
  errors {
    * index.html
  }
}

i.hyeon.me {
  import common
  root /srv/i.hyeon.me
}

game.hyeon.me {
  import common
  root /srv/game.hyeon.me
  redir 307 {
    if {path} is /
    /wbwwb/
  }
}

snu.jokbo.me {
  import common
  proxy / localhost:3000 {
    transparent
  }
}
snu.jokbo.me/static/files/ {
  import common
  root /srv/snu.jokbo.me/files
}
jokbo.me {
  import common
  redir / https://snu.jokbo.me{uri} 307
}

git.hyeon.me {
  import common
  proxy / localhost:8880 {
    transparent
  }
}

rust-kr.org {
  import common
  proxy / localhost:8000 {
    transparent
  }
}

langdev.org {
  import common
  proxy / localhost:8080 {
    transparent
  }
}
www.langdev.org {
  import common
  redir / https://langdev.org{uri} 307
}
